/*#genform{
	margin-top:24px;	
}
#genform > div {
	margin-top: 12px;	
}
#genform > input,select {
	width: 200px;
	padding: 3px;
	background: #F3F9DD;
}
#signupbtn {
	font-size:18px;
	padding: 5px;
        width: 100px;
}*/